<html>
    <head>
        <style>
            div { padding:10}
        </style>
        <title>lich map room db - try again</title>
        <link rel="stylesheet" href="static/css/pico.min.css">
    </head>
    <body>
        <div>
            {% if noroom %}
            <div>Room not found!</div>        
            {% endif %}
            <div>Hey, go to https://lich-mapdb-room.onrender.com/[room id] to view a room</div>
            <div>Like:
            <div><a href="https://lich-mapdb-room.onrender.com/228">https://lich-mapdb-room.onrender.com/228</a><br><a href="https://lich-mapdb-room.onrender.com/u13100042">https://lich-mapdb-room.onrender.com/u13100042</a></div>
        </div>
    </body>
</html>
