<html>
    <head>
        <style>
            div { padding:10}
            #tagSearchForm div {
                margin-bottom: 4px !important;
            }
            #tagSearchForm label {
                margin-bottom: 1px !important;
            }
            #tagInput, #imageSelect, #locationSelect {
                margin-bottom: 0px !important;
            }
        </style>
        <title>Lich map room DB</title>
        <link rel="stylesheet" href="static/css/pico.min.css">
    </head>
    <body>
        <div>
            {% if noroom %}
            <div>Room not found!</div>        
            {% endif %}
            <div>Hey, go to {{ request.host_url }}[room id] to view a room</div>
            <div>Like:
            <div><a href="{{ request.host_url }}228">{{ request.host_url }}228</a><br><a href="{{ request.host_url }}u13100042">{{ request.host_url }}u13100042</a></div>
        </div>
        {% with results=None, overflow=False %} {% include "search_block.html" %} {% endwith %}
    </body>
</html>
