<!DOCTYPE html>
<html lang="en-US">
  <head>
    <style>
      div { padding:10}
      #tagSearchForm div {
          margin-bottom: 4px !important;
      }
      #tagSearchForm label {
          margin-bottom: 1px !important;
      }
      #tagInput, #imageSelect, #locationSelect {
          margin-bottom: 0px !important;
      }
    </style>
    <title>Search - Lich Map Room Database</title>
    <link rel="stylesheet" href="static/css/pico.min.css">
    <link rel="stylesheet" href="static/css/room.css">
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <main id="main-content" role="main">
      <h1>Lich Map Room Database Search</h1>
      {% include "search_block.html" %}
    </main>
  </body>
</html>
